.btn-vacancies {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 2.125rem;
    width: 16.125rem;
    height: 3rem;
    border: 2px solid var(--color-brand-1);
    border-radius: var(--radius-1);
    background-color: var(--color-brand-1);
    color: var(--color-grey-6);
    font-family: "Poppins", sans-serif;
}

.btn-apply {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-brand-1);
    border-radius: var(--radius-1);
    background-color: var(--color-brand-1);
    color: var(--color-grey-6);
    width: 16.75rem;
    height: 2.375rem;
}