.menu-header {
    max-width: 100vw;
    height: 789px;
    background-image: url(../assets/img/mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-config-default {
    background-attachment: fixed;
}

.div-header-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 6.25rem 2rem;
}

.div-header-description h1 {
    color: var(--color-grey-6);
    margin-bottom: 3.75rem;
}

.div-header-description h2 {
    font-size: var(--title-3);
    color: var(--color-grey-3);
    margin-bottom: 2rem;
}

.first-description-header {
    font-weight: 400;
    line-height: 2rem;
    font-size: var(--text-2);
    color: var(--color-grey-5);
}

.second-description-header {
    font-weight: 500;
    font-size: var(--text-2);
    color: var(--color-grey-5);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
